<div class="row-fluid">
  <div class="span3 offset1"></div>

  <div class="span8">
    <div class="row-fluid">
      <div class="span"></div>
      <div class="span12"><h2>Create a new account</h2></div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :placeholder => "Give your email address", :class => 'text-field-style' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", :placeholder => "Make a password to secure your account", :class => 'text-field-style' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm your password", :class => 'text-field-style' %>
      </div>

      <div class="actions">
        <%= f.submit "Create my account", :class => 'btn btn-default', :style => "font-weight: bold" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>
