
<div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">
          <h2>My Tasks ToDo</h2>
        </div>
        <div class="span3"></div>
      </div>

      <% @tasks_to_do.each do |task| %>
          <div class="row-fluid">
            <div class="span3"></div>
            <div class="span4">
              <div class="tasks">
                <p style="padding: 30px 0px 0px 20px"><%= task.name %></p>
              </div>
            </div>
            <div class="span3">
              <%= link_to image_tag("done.png", :title => 'Mark as Done', :class => 'controller_images'), task_path(task), :method => :put  %>
            </div>
            <div class="span2"></div>
          </div>
      <% end %>

      <p><%= link_to image_tag("new.png", :title => 'Add New Task', :class =>  'controller_images'), new_task_path %></p>

    </div>

    <div class="span6">
      <div class="row-fluid">
        <div class="span3"></div>
        <div class="span6">
          <h2>Completed Tasks</h2>
        </div>
        <div class="span3"></div>
      </div>

      <% @tasks_done.each do |done_task| %>

          <div class="row-fluid">
            <div class="span3"></div>
            <div class="span4">
              <div class="tasks">
                <p style="padding: 30px 0px 0px 20px"><%= done_task.name %></p>
              </div>
            </div>
            <div class="span3">
              <%= link_to image_tag("delete.png", :title => 'Delete Task', :class => 'controller_images'), done_task, :confirm => "Are you sure to delete this task?", :method => :delete  %>
            </div>
            <div class="span2"></div>
          </div>
      <% end %>

    </div>

</div>

